#aboutbody{
    background-color: antiquewhite;
    
}
#about{
    text-align: center;
    color: brown;
    margin: 20px;
}
#p{
    font-size: 1.2rem;
    margin: 20px;
    text-align: justify;
}
p:first-letter{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
}
#logo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#author{
    color: brown;
    text-align: center;
    margin-top: 40px;
}
#pa{
    font-size: 1.2rem;
        margin: 20px;
        text-align: justify;
}